/*Use the universal selector to add box-sizing: border-box; to your CSS. 
This ensures elements include padding and border in their specified width and height.*/
* {
    box-sizing: border-box;
}


body {
    background-color: #c9d2fc;
}


.cat-head {
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
}






